@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    font-family: 'robotoregular';
}

* {
    box-sizing: border-box;
}

#container {
    display: flex;
    gap: 5rem;
}


.centered {
    display: flex;
    justify-content: center;
}

/******BOOK CARDS*******/

.card {
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    background-color: #1e293b;
    width: 370px;
    padding: 3rem;
    display: grid;
    grid-template-rows: 1fr;
}

.card h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.card > p {
    font-weight: 600;
    font-size: 1.1rem;
    display: flex;
}

.card > div:last-child {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

/****BUTTONS****/

.card button:first-child {
    background-color: red;
    color: white;
}

.card button:last-child {
    background-color: #50c150;
    color: white;
}

button {
    border: none;
    border-radius: 5px;
    padding: .5rem 1rem;
    cursor: pointer;
}

/*****FORM*******/

label {
    display: inline-block;
    width: 150px;
}

.button-row {
    display: flex;
    justify-content: space-between;
}

form > div:not(:first-child) {
    margin-top: 1rem;
}

dialog {
    border-radius: 8px;
}