body {
    background-color: #2b2a33;
    color: white;
}

#container {
    display: flex;
    gap: 5rem;
}

.card {
    border: 1px solid white;
}

.card > * {
    background-color: red;
    border: 1px solid black;
}

.card > div:last-child {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    background-color: green;
}

/*****FORM*******/

label {
    display: inline-block;
    width: 150px;
}